{% extends 'base.html' %}
{% block content %}
{% load static %}
<?php echo $this->element('careerHeader') ?>
<div class="about">
	<div class="container ">
		<div class="about-top">
			<div class="about-top-info">
				<div class="col-md-4 about-img">
					<div class="sqs-block-content">
							<h2>Account Executive</h2>
							<br>
							<p>&nbsp;</p>
							<br>
							<h4>Qualification: Graduate</h4>
							<h4>Experience: 1-3 years</h4>
							<h4>CTC: As per industry standards.</h4>
							<h4>Location: Lucknow</h4>
					</div>
				</div>
				<div class="col-md-8 about-job">
					<div class="sqs-block-content candidate_profile">
					<p>Job Description:</p>
					<ul>
						<li>
							<p>Preparing Bank Reconciliation statement every month.</p>
						</li>
						<li>
							<p>Invoicing. </p>
						</li>
						<li>
							<p>Handling Accounts payable and receivable Ledger reconciliation.</p>
						</li>
						<li>
							<p>Handling bank payment Voucher, Receipt vouchers, Journal Vouchers. </p>
						</li>
						<li>
							<p>Handling Sales and Purchase bills entry.</p>
						</li>
						<li>
							<p>Preparing form 38 and form C application.</p>
						</li>
						<li>
							<p>Maintaining cash book, Bank book, & Handling petty cash, etc.</p>
						</li>
						<li>
							<p>Knowledge of Tally is must.</p>
						</li>
						<li>
							<p>Preparing Taxation Return Monthly & Quarterly like, Sales Tax, Service Tax, TDS, Statuary payment i. e. PF , Professional Tax, LWF.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
</div>
</div>
</div>
{% endblock %}
<?php echo $this->element('careerForm') ?>
