{% extends 'base.html' %}
{% block content %}
{% load static %}
<?php echo $this->element('careerHeader') ?>
<div class="about">
	<div class="container ">
		<div class="about-top">
			<div class="about-top-info">
				<div class="col-md-4 about-img">
					<div class="sqs-block-content">
							<h2>Executive/ Sr. Executive - Sales</h2>
							<p>&nbsp;</p>
					</div>
				</div>
				<div class="col-md-8 about-job">
					<div class="sqs-block-content candidate_profile">
					<p>Job Description:</p>
					<ul>
						<li>
							<p></p>
							<p>Responsible for generating leads, monitoring & reviews periodically.</p>
						</li>
						<li>
							<p>Plan and meet Health Care Professionals (HCPs) including Healthcare institutions like Hospitals, Blood Banks, NGOs on a regular basis for detailing and promotion of products, with the intention of gaining sales for our detailed product line.</p>
						</li>
						<li>
							<p>Develop and manage assigned territory with the goal of maximizing sales and achieve targets.</p>
						</li>
						<li>
							<p>Maintaining relationship with existing as well as new health care professionals. </p>
						</li>
						<li>
							<p>Closely work with Sub-Distributors to ensure a great relationship. </p>
						</li>
						<li>
							<p>	Ensure seamless delivery of our products and services in a timely manner to the clients. </p>
						</li>
						<li>
							<p>	Monitoring competitor activity and competitors' products.</p>
						</li>
						<li>
							<p>Keep accurate records and documentation for reporting and feedback. </p>
						</li>
						<li>
							<p>Strategizing and executing area wise/zonal plans for end use clients.</p>
						</li>
						<li>
							<p>	Work towards building a larger footprint in the city and scale up with expansion of reach. </p>
						</li>
						<li>
							<p>Building and thereafter having complete control on productivity of the team & servicing client needs. </p>
						</li>
						<li>
							<p>.Network with existing clients in order to maintain links & promote business.</p>
						</li>
						<li>
							<p> He shall also be required to contribute in the Marketing, Business Development & Sales of relevant business when required.</p>
						</li>
						<li>
							<p> Fluent in English, below 28 years of age with 1 to 3 years of experience in Sales and Promotion healthcare products. </p>
						</li>
						<li>
							<p>Must be mobile & be willing for immediate appointment, if selected. •	Familiar with MS Office (Word, Excel) and internet.</p>
						</li>
						<li>
							<p>Good communication skills.</p>
						</li>
						
					</ul>
					<p>Candidate Profile:</p>
					<ul>
						<li><p>Need a self-motivated person who can easily handle calling and business development.</p></li>
						<li><p>Should possess excellent communications skills.</p></li>
						<li><p>Independent individual.</p></li>
						<li><p>Extensive client development experience.</p></li>
						<li><p>Proven business and negotiation skills.</p></li>
						<li><p>Ability to work under pressure.</p></li>
					</ul>
				</div>
			</div>
		</div>
</div>
</div>
</div>
{% endblock %}
<?php echo $this->element('careerForm') ?>
