{% extends 'base.html' %}
{% block content %}
{% load static %}
<?php echo $this->element('careerHeader') ?>
<div class="about">
	<div class="container ">
		<div class="about-top">
			<div class="about-top-info">
				<div class="col-md-4 about-img">
					<div class="sqs-block-content">
							<h2>Human Resource Manager</h2>
							<br>
							<p>&nbsp;</p>
							<br>
							<h4>Qualification: Graduate</h4>
							<h4>Experience: 1-4 years</h4>
							<h4>CTC: As per industry standards.</h4>
							<h4>Location: Lucknow</h4>
					</div>
				</div>
				<div class="col-md-8 about-job">
					<div class="sqs-block-content candidate_profile">
					<p>Job Description:</p>
					<ul>
						<li>
							<p>Candidate should have experience in the similar role and good knowledge in HR policies and procedures in India.</p>
						</li>
						<li>
							<p>Payroll Management.</p>
						</li>
						<li>
							<p>Recruitment, Employee retention and minimizing the attrition rate.</p>
						</li>
						<li>
							<p>	Familiarity with business software such as Microsoft Office. He/She should maintain a high level of confidentiality.  </p>
						</li>
						<li>
							<p>To implement HR Guideline & HR systems and processes.</p>
						</li>
						<li>
							<p>Ensure timely processing of payroll through effective attendance and leave management systems.</p>
						</li>
						<li>
							<p>Gather feedback on HR actions.</p>
						</li>
						<li>
							<p>Organize CSR initiatives for community development.</p>
						</li>
						<li>
							<p>Make hiring budget as required.</p>
						</li>
						<li>
							<p>Conduct hiring activities like Campus recruitment. </p>
						</li>
					</ul>
					<p>Candidate Profile:</p>
					<ul>
						<li><p>Good English language communication skills, both written and verbal.</p></li>
						<li><p>The candidate must be smart and aggressive with strong administration skills.</p></li>
						<li><p>Independent individual.</p></li>
					</ul>
				</div>
			</div>
		</div>
</div>
</div>
</div>
{% endblock %}
<?php echo $this->element('careerForm') ?>
