{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="header-banner">
   <div class="slider">
	    <ul class="rslides" id="slider2">
	      <li><a href="#"><img src="{% static 'frontend/img/3.jpg' %}" class="img-responsive" alt=""/></a></li>
	      <li><a href="#"><img src="{% static 'frontend/img/4.jpg' %}" class="img-responsive" alt=""/></a></li>
	      <li><a href="#"><img src="{% static 'frontend/img/2.jpg' %}" class="img-responsive" alt=""/></a></li>
	    </ul>
    </div>
</div>
<!--/header-->
<!--doctor-self-->
<div class="doctor-self">
	<div class="container">
		<div class="doctor-self-info">
			
			<div class="doctor-self-info-bottom">
				<div class="col-md-4 doctor-self-left">
					<img src="{% static 'frontend/img/g1.png' %}" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-8 doctor-self-right">
					<div class="row">
						<div class="col-md-12">
							<h3>Mission</h3>
							<p>Our mission is to drive quality standards, health and safety and best practices into the healthcare system in India. We believe implanting sustainability into our business targets will make us a good corporate citizen, securing the future of our organization.</p>
						</div>
						<div class="col-md-12">
							<h3>Vision</h3>
							<p>At INNOVIOUS, our vision is to create a better healthcare system for everyone. Our business idea supports this vision by introducing and offering innovative Healthcare solutions.</p>
						</div>
						
					</div>
					
				</div>
				<div class="clearfix"> </div>
				</div>
		</div>
	</div>
</div>
<!--/doctor-self-->
<!--dogs-food-->
<!-- <div class="dogs-food">
	<div class="container">
		<div class="dogs-food-top-info">
		<div class="dogs-food-top">
			<div class="col-md-4 dogs-food-info">
				<img src="img/dg-1.png">
				<h4>CARE</h4>
				<p>when an unknown printer took a galley of
					 type and scrambled it to make a type speci
					men book</p>
					 <a class="dogs-top-food" href="#">More</a>
			</div>
			<div class="col-md-4 dogs-food-info">
				<img src="img/dg-2.png">
				<h4>CARE-+</h4>
				<p>when an unknown printer took a galley of
					 type and scrambled it to make a type speci
					men book</p>
					<a class="dogs-top-food" href="#">More</a>
			</div>
			<div class="col-md-4 dogs-food-info">
				<img src="img/dg-3.png">
				<h4>TRAVEL</h4>
				<p>when an unknown printer took a galley of
					 type and scrambled it to make a type speci
					men book</p>
					<a class="dogs-top-food" href="#">More</a>
			</div>
			<div class="col-md-4 dogs-food-info">
				<img src="img/dg-4.png">
				<h4>FRIEND-SHIP</h4>
				<p>when an unknown printer took a galley of
					 type and scrambled it to make a type speci
					men book</p>
					<a class="dogs-top-food" href="#">More</a>
			</div>
				<div class="col-md-4 dogs-food-info">
					<img src="img/dg-5.png">
					<h4>DOG-HOME</h4>
					<p>when an unknown printer took a galley of
						 type and scrambled it to make a type speci
						men book</p>
						<a class="dogs-top-food" href="#">More</a>
				</div>
				<div class="col-md-4 dogs-food-info">
					<img src="img/dg-6.png">
					<h4>DOG-FOOD</h4>
					<p>when an unknown printer took a galley of
						 type and scrambled it to make a type speci
						men book</p>
						<a class="dogs-top-food" href="#">More</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div> -->
<!--/dogs-food-->
<!--daily-updates-->
<div class="daily-updates">
	<div class="container">
		<div class="daily-updates-info">
		<h4>SUBSCRIBE FOR UPDATES</h4>
		<form id="subscribe-form">
			
					 <!-- <input type="email" class="text" value="EMAIL" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'EMAIL';}" > -->
					 <input type="email" class="text" value="EMAIL" placeholder="Email" required>
					 <input type="submit"value="SUBMIT">
					 <!-- <input type="submit"value="SUBMIT"> -->
		 	</form>
		 	<p>FOR HELP<span><a href="mailto:support@ihcpl.com">support@ihcpl.com</a></span></p>
		 	</div>
	</div>
</div>
<!--/daily-updates-->
<!--support-->
<!-- <div class="support">
	<div class="container">
		<div class="support-info">
			<h4>OUR TEAM FOR SUPPORT</h4>
			<div class="support-info-left">
			<div class="col-md-10 support-info-left-bottom">
				<p>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
					 the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of ty
						pe and scrambled</p>
			</div>
			<div class="col-md-2 support-info-left-top">
				<img src="img/support.png" class="img-responsive" alt=""/>
			</div>	
			<div class="clearfix"> </div>
			</div>
			<div class="support-info-right">
			<div class="col-md-2 support-info-right-bottom">
				<img src="img/support.png" class="img-responsive" alt=""/>
			</div>	
			<div class="col-md-10 support-info-right-top">
				<p>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
					 the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of ty
						pe and scrambled</p>
			</div>
			<div class="clearfix"> </div>
			</div>
						<div class="clearfix"> </div>
		</div>
	</div>
</div> -->
	<div class="home-map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387157.48595911684!2d-73.97968099999999!3d40.703312100000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1421997628895"frameborder="0" style="border:0"></iframe>
	</div>
<!--/support-->
<!--contact-->
<div class="contact">
	<div class="container">
		<div class="contact-info">
			<h4>CONTACT-US</h4>
			<p>Interested in working together? Fill in your details and we will get in touch with you shortly...</p>
		</div>
			<form id="contact_form">
			 <!-- <input type="text" class="text" value="name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'NAME';}"> -->
			 <input class="text" id="name" name="name" placeholder="Name" type="text" required>
			 <!-- <input type="text" class="text" value="EMAIL" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'EMAIL';}"> -->
			 <input class="text" id="email" name="email" placeholder="Email" type="email" required>
			 <!-- <textarea onfocus="if(this.value == 'MESSAGE') this.value='';" onblur="if(this.value == '') this.value='MESSAGE';" >MESSAGE</textarea>	 -->
			 <textarea  id="comments" name="message" placeholder="Message" rows="5"></textarea>
			 <div class="clearfix"> </div>
			 <input type="submit"value="SUBMIT">
		</form>

	</div>
</div>
<!-- modals starts-->
<div id="subscribeModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	     <!--  <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Modal Header</h4>
	      </div> -->
	      <div class="modal-body">
	        <p>Thanks for subscribing.</p>
	      </div>
	      <!-- <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div> -->
	    </div>

	  </div>
	</div>
  	<div id="successModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	     <!--  <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Modal Header</h4>
	      </div> -->
	      <div class="modal-body">
	        <p>Message sent successfully.</p>
	      </div>
	      <!-- <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div> -->
	    </div>

	  </div>
	</div>
	<div id="failModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	     <!--  <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Modal Header</h4>
	      </div> -->
	      <div class="modal-body">
	        <p>Unable to send message. Please try again later</p>
	      </div>
	      <!-- <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div> -->
	    </div>

	  </div>
	</div>
	<div class="loadingmodal"><!-- Place at bottom of page --></div>
  <!-- modals end-->
<script>
	$("#subscribe-form").submit(function(e){
		e.preventDefault();
		$('#subscribeModal').modal('show');
            setTimeout(function(){ 
            $('#subscribeModal').modal('hide');
            $("#subscribe-form").trigger('reset');
         }, 2000);

				
	});
	$("#contact_form").submit(function(e){
    	e.preventDefault();
        $("body").addClass("loading");
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
    $.ajax(
    {
        url : '<?php echo Router::url(array('controller' => 'website','action' =>'contactForm')) ?>',
        type: "POST",
        data : postData,
        success:function(data, textStatus, jqXHR) 
        {
            $("body").removeClass("loading");
            // console.log(data);
            if(data=='1'){
                $('#successModal').modal('show');
                setTimeout(function(){ 
                $('#successModal').modal('hide');
                $("#contact_form").trigger('reset');
             }, 2000);
            }else{
                $('#failModal').modal('show');
                setTimeout(function(){ 
                $('#failModal').modal('hide');
             }, 2000);
            }
            //data: return data from server
        },
        error: function(jqXHR, textStatus, errorThrown){
           //if fails      
           $("body").removeClass("loading");
           $('#failModal').modal('show');
                setTimeout(function(){ 
                $('#failModal').modal('hide');
             }, 2000);
            
        }
    });
    e.preventDefault(); //STOP default action
    // e.unbind(); //unbind. to stop multiple form submit.
    });
	$("#contact_form").trigger('reset');
	$("#subscribe-form").trigger('reset');
</script>
<!--/contact-->
{% endblock %}
