{% extends 'base.html' %}
{% block content %}
<!--about-->
<div class="about">
	<div class="container">
				<div class="about-top">
					<div class="true-info">
							<h3 class="mainHH">True HB Meter</h3>
							<hr>
							<div class="col-md-6 about-img">
								<!-- <img src="img/a1.jpg" alt=""/> -->
								<div class="flexslider">
								  <ul class="slides">
								    <li>
								      <img src="img/a1.jpg" />
								      <!-- <p class="flex-caption">Adventurer Cheesecake Brownie</p> -->
								    </li>
								    <li>
								      <img src="img/a2.jpg" />
								      <!-- <p class="flex-caption">Adventurer Lemon</p> -->
								    </li>
								    <li>
								      <img src="img/a3.jpg" />
								      <!-- <p class="flex-caption">Adventurer Donut</p> -->
								    </li>
								    <li>
								      <img src="img/a4.jpg" />
								      <!-- <p class="flex-caption">Adventurer Caramel</p> -->
								    </li>
								  </ul>
								</div>
							</div>
							<div class="col-md-6 about-desc">
								<p>The TrueHb® Hemometer System is one of the the world’s fastest hemoglobin analyzer. Optimized for anemia screening in primary care and blood donation settings.
								<span>The TrueHb® Hemometer provides quick, easy access to lab-quality results without compromising accuracy, even in demanding climates with high temperatures and humidity.</span>
								<span>TrueHb fits into your palm to provide point of care testing. It leverages the powerful and innovative nano-bioelectronic techonology to give lab standard results in led than a minute.</span></p>
								<!-- <a class="about-desc-button" href="#">READ MORE</a> -->
							</div>
							<div class="clearfix"> </div>
					</div>
			</div>
		</div>
	</div>	
</div>	
<div class="aboutus">
	<div class="container">
		<div class="about-bottom-info steps">
			<div class="col-md-4 about-left">
				
					<img class="img-responsive" src="img/ss11.png" alt=""/>
				
				
			</div>
			<div class="col-md-4 about-left">
				<img class="img-responsive" src="img/ss22.png" alt=""/>	
			</div>
			<div class="col-md-4 about-left">
				<img class="img-responsive" src="img/ss31.png" alt=""/>
			</div>
				
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="dogs-food">
	<div class="container">
		<div class="dogs-food-top-info">
		<div class="dogs-food-top">
			<div class="col-md-3 col-sm-3 dogs-food-info">
				<!-- <img src="images/dg-1.png"> -->
				<i class="fa fa-mobile" aria-hidden="true"></i>
				<h4>Ultra Portable</h4>
				<p>Pocket sized (150 x 50mm), lighter than a phone (60gm)</p>
					 <!-- <a href="#" class="dogs-top-food">More</a> -->
			</div>
			<div class="col-md-3 col-sm-3 dogs-food-info">
				<!-- <img src="images/dg-2.png"> -->
				<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
				<h4>CARE-+</h4>
				<p>User Friendly interface</p>
					<!-- <a href="#" class="dogs-top-food">More</a> -->
			</div>
			<div class="col-md-3 col-sm-3 dogs-food-info">
				<!-- <img src="images/dg-3.png"> -->
				<i class="fa fa-search" aria-hidden="true"></i>
				<h4>Large Display</h4>
				<p>Easy to read icons and figures for error free ease of usage</p>
					<!-- <a href="#" class="dogs-top-food">More</a> -->
			</div>
			<div class="col-md-3 col-sm-3 dogs-food-info">
				<!-- <img src="images/dg-4.png"> -->
				<i class="fa fa-tint" aria-hidden="true"></i>
				<h4>Small Sample Requirement</h4>
				<p> &lt 10 μL blood sample requirement = minimum patient trauma
				</p>
					<!-- <a href="#" class="dogs-top-food">More</a> -->
			</div>
				<div class="col-md-3 col-sm-3 dogs-food-info">
					<!-- <img src="images/dg-5.png"> -->
					<i class="fa fa-hourglass-end" aria-hidden="true"></i>
					<h4>Quick Evaluation</h4>
					<p>Hemoglobin content displayed in <1 min after sample application</p>
						<!-- <a href="#" class="dogs-top-food">More</a> -->
				</div>
				<div class="col-md-3 col-sm-3 dogs-food-info">
					<!-- <img src="images/dg-6.png"> -->
					<i class="fa fa-battery-full" aria-hidden="true"></i>
					<h4>Rechargeable battery driven</h4>
					<p>Upto 300 tests on a full recharge with approx. 120 days standby</p>
						<!-- <a href="#" class="dogs-top-food">More</a> -->
				</div>
				<div class="col-md-3 col-sm-3 dogs-food-info">
					<!-- <img src="images/dg-6.png"> -->
					<i class="fa fa-cloud" aria-hidden="true"></i>
					<h4>Large Memory</h4>
					<p>On-board memory can store upto 1000 test readings</p>
						<!-- <a href="#" class="dogs-top-food">More</a> -->
				</div>
				<div class="col-md-3 col-sm-3 dogs-food-info">
					<!-- <img src="images/dg-6.png"> -->
					<i class="fa fa-usd" aria-hidden="true"></i>
					<h4>Economical Operation</h4>
					<p>Innovative single-use test strip concept reduces cost per test</p>
						<!-- <a href="#" class="dogs-top-food">More</a> -->
				</div>
				<div class="col-md-3 col-sm-3 dogs-food-info">
					<!-- <img src="images/dg-6.png"> -->
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					<h4>Intelligent self-calibration</h4>
					<p>Auto algorithmic compensation for internal and external variables</p>
						<!-- <a href="#" class="dogs-top-food">More</a> -->
				</div>
				<div class="col-md-3 col-sm-3 dogs-food-info">
					<!-- <img src="images/dg-6.png"> -->
					<i class="fa fa-bullseye" aria-hidden="true"></i>
					<h4>Precise Results</h4>
					<p>Nano-Biochemistry based technology (patent pending) for 100% specificity, &lt 5% tolerance in 4-20 mg/dL range and large testing temperature range (5 - 45°C)</p>
					<!-- <a href="#" class="dogs-top-food">More</a> -->
				</div>
				
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>

	
<!--/about-->
{% endblock %}
